<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLMT_OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BLMT_OCR.Properties.Settings.BLMTConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\BLMT_OCR\MDB\BLMT.mdb"
            providerName="System.Data.OleDb" />
        <add name="BLMT_OCR.Properties.Settings.mdbOlePath" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\BLMT_OCR\MDB\BLMT.mdb"
            providerName="System.Data.OleDb" />
        <add name="BLMT_OCR.Properties.Settings.mdbPathTemp" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\BLMT_OCR\MDB\BLMT_Temp.mdb" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <BLMT_OCR.Properties.Settings>
            <setting name="xlsFAX出勤簿" serializeAs="String">
                <value>C:\BLMT_OCR\XLS\FAX出勤簿.xlsx</value>
            </setting>
            <setting name="基本実労時" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="基本実労分" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="dataPath" serializeAs="String">
                <value>c:\BLMT_OCR\DATA\</value>
            </setting>
            <setting name="tifPath" serializeAs="String">
                <value>c:\BLMT_OCR\TIF\</value>
            </setting>
            <setting name="scanPath" serializeAs="String">
                <value>c:\BLMT_OCR\SCAN\</value>
            </setting>
            <setting name="trayPath" serializeAs="String">
                <value>c:\BLMT_OCR\TRAY\</value>
            </setting>
            <setting name="wrHands_Job" serializeAs="String">
                <value>ブルーメイト販売出勤簿</value>
            </setting>
            <setting name="wrHands_Path" serializeAs="String">
                <value>C:\WinReaderHandS\</value>
            </setting>
            <setting name="wrHands_Prg" serializeAs="String">
                <value>WrhsMain.exe</value>
            </setting>
            <setting name="wrReaderOutFile" serializeAs="String">
                <value>txtout.csv</value>
            </setting>
            <setting name="readPath" serializeAs="String">
                <value>c:\BLMT_OCR\READ\</value>
            </setting>
            <setting name="okPath" serializeAs="String">
                <value>c:\BLMT_OCR\OK\</value>
            </setting>
            <setting name="exPath" serializeAs="String">
                <value>c:\BLMT_OCR\EX_DATA\</value>
            </setting>
            <setting name="exMark" serializeAs="String">
                <value>P0521</value>
            </setting>
            <setting name="exRePath" serializeAs="String">
                <value>c:\BLMT_OCR\EX_BOX\</value>
            </setting>
            <setting name="mdbPath" serializeAs="String">
                <value>c:\BLMT_OCR\MDB\</value>
            </setting>
            <setting name="exMark2" serializeAs="String">
                <value>P0522</value>
            </setting>
            <setting name="xlsKintaiSheet" serializeAs="String">
                <value>C:\BLMT_OCR\XLS\勤怠印刷.xlsx</value>
            </setting>
        </BLMT_OCR.Properties.Settings>
    </applicationSettings>
</configuration>