<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLMT_SCAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BLMT_SCAN.Properties.Settings.BLMTConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\BLMT_OCR\MDB\BLMT.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <BLMT_SCAN.Properties.Settings>
            <setting name="scanPath" serializeAs="String">
                <value>c:\BLMT_OCR\SCAN\</value>
            </setting>
            <setting name="trayPath" serializeAs="String">
                <value>c:\BLMT_OCR\TRAY\</value>
            </setting>
            <setting name="dataPath" serializeAs="String">
                <value>c:\BLMT_OCR\DATA\</value>
            </setting>
            <setting name="wrHands_Job" serializeAs="String">
                <value>ブルーメイト販売出勤簿</value>
            </setting>
            <setting name="wrHands_Path" serializeAs="String">
                <value>C:\Program Files (x86)\FRP\</value>
            </setting>
            <setting name="wrHands_Prg" serializeAs="String">
                <value>WrhsMain.exe</value>
            </setting>
            <setting name="readPath" serializeAs="String">
                <value>c:\BLMT_OCR\READ\</value>
            </setting>
            <setting name="wrReaderOutFile" serializeAs="String">
                <value>txtout.csv</value>
            </setting>
        </BLMT_SCAN.Properties.Settings>
    </applicationSettings>
</configuration>